@layout.dashboard({ title: 'Dashboard' })
<h1>Chapter {{ chapterId }}</h1>

<ul>
  @each(image in images)
    <li>
      <img src="{{ image.url }}" alt="{{ image.name }}" />
    </li>
  @else
    <li>No images found</li>
  @end
</ul>
@end
