@layout.dashboard({ title: 'Dashboard' })
  <div class="flex justify-between items-center mb-8">
    <h1 class="text-2xl">Create Manga</h1>

    <div>
      <a href="{{ route('mangas.index') }}">Back to Manga</a>
    </div>
  </div>

  @!component('partials/manga_form', {
    action: route('mangas.store'),
    method: 'POST',
    buttonText: 'Create',
    manga: old() || {}
  })
@end
